<script>
	export default {
		onLaunch: function() {
			let user = uni.getStorageSync('user')
			if(!user){
				uni.reLaunch({
							url:"/pages/signin/signin",
							success:()=>{
								//跳转完页面后再关闭启动页
								plus.navigator.closeSplashscreen();
							}
						})
			}else{
				plus.navigator.closeSplashscreen();
			}
		},
		onShow: function() {
			
		},
		onHide: function() {
			
		}
	}
</script>

<style lang="scss">
	@import "uview-ui/index.scss";
	@import "./commons/css/iconfont.css";
	@import "./commons/css/animate.min.css";
	/*每个页面公共css */
	@import './common/trtc-nvue.css';
	*{-webkit-user-select: text;}
	/*每个页面公共css */
</style>
