<template>
	<view>
		
		<fooBar :list="list" @toIndex='toIndex'></fooBar>
	</view>
</template>

<script>
	import fooBar from '@/components/yx-bottomBar/yx-bottomBar.vue'
	
	export default {
		name:"myFootBar",
		data() {
			return {
				list: [
					{
						"iconPath": "/static/images/footbar/index1.png",
						"selectedIconPath": "/static/images/footbar/index.png",
						"text": "消息"
					},
					{
						"iconPath": "/static/images/footbar/fi1.png",
						"selectedIconPath": "/static/images/footbar/fi.png",
						"text": "联系人"
					},
					{
						"iconPath": "/static/images/footbar/faxian1.png",
						"selectedIconPath": "/static/images/footbar/faxian.png",
						"text": "发现"
					},
					{
						"iconPath": "/static/images/footbar/me.png",
						"selectedIconPath": "/static/images/footbar/me1.png",
						"text": "我"
					},
				],
			};
		},
		components:{
			fooBar
		},
		
		methods: {
			toIndex:function (index) {
				let pages = getCurrentPages()
				this.index = index
				if(index === 0){
					if(pages[pages.length-1].$page.route!='pages/index/index'){
						this.url = '/pages/index/index'
						this.toPage()
					}
				} else if(index === 1) {
					this.url = '/pages/contacts/contacts'
					this.toPage()
				} else if(index === 2){
					if(pages[pages.length-1].$page.route!='pages/explore/explore'){
						this.url = '/pages/explore/explore'
						this.toPage()
					}
				}
			},
			toPage () {
			  uni.navigateTo({
						url: this.url
			  })
			},
	
		}
	}
</script>

<style lang="scss">

</style>
