<template>
	<view class="contents animate__animated animate__fadeIn animate__faster">
		<!-- 顶部 -->
		<view class="top-bar">
			<view @click="backOnePage" class="top-bar-left">
				<i class="iconfont icon-xiazai6"></i>
			</view>
			<view class="top-bar-right">
				<view class="search">
					<view class="text">
						取消
					</view>
				</view>
			</view>
		</view>
		<!-- logo -->
		<view class="logo">
			<view class="moni-img-logo">
				<view style="display: inline-block;"
							class="animate__animated animate__bounceInDown">d</view>
				<i class="iconfont icon-kakao-talk-fill logo"></i>
			</view>
		</view>
		<!-- 表单 -->
		<view class="main">
			<view class="title">注册中心</view>
			<view class="inputs">
				
				<view class="inputs-div">
					<!-- <input @blur="matchUser" class="user" type="text" value="" placeholder="用户名" placeholder-style="color: #aaa; font-weight:400;"/> -->
					<input @input="getName" class="name" type="text" value="" placeholder="用户名" placeholder-style="color: #aaa; font-weight:400;"/>
					<i class="iconfont icon-profile ok"></i>
				</view>
				
				<view class="inputs-div">
					<input @input="getPsw1" class="psw1" :type="type" value="" placeholder="密码" placeholder-style="color: #aaa; font-weight:400;"/>
					<view v-if="invalid" class="invalid">密码长度小于5</view>
					<i @click="looks" v-if="!look" class="iconfont icon-yanjing ok" style="color: #808080;"></i>
					<i @click="looks" v-if="look" class="iconfont icon-yanjing ok" style="color: rgba(255, 228, 49, 1);"></i>
				</view>
				
				<view class="inputs-div">
					<input @input="getPsw2"
								class="psw2" 
								:type="type" 
								maxlength="140" 
								stepautocomplete="off" 
								value="" 
								placeholder="请确认密码" 
								placeholder-style="color: #aaa; font-weight:400;"/>
					<view v-if="issame" class="employ1">密码一致</view>
					<view v-if="!issame" class="employ2">密码不一致</view>
					<i @click="looks" v-if="!look" class="iconfont icon-yanjing ok" style="color: #808080;"></i>
					<i @click="looks" v-if="look" class="iconfont icon-yanjing ok" style="color: rgba(255, 228, 49, 1);"></i>
				</view>
				
			</view>
		</view>
		<view @tap="signUp" :class="{submit:isok, submit1: !isok}">点击注册</view>
		<!-- 底部logo -->
		<view class="bot-logo">
		  <i class="iconfont icon-tengxun"></i>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				type: 'password',
				look: false,		// 是否显示密码
				isok: false,				// 注册信息是否完整
				name: '',
				privateKey: '',
				invalid:'',
				psw1:'',
				psw2:'',
				issame:false
			}
		},
		computed:{
			// 判断按钮变色
			isOk(){
				if(this.name.length>=1 && this.psw1.length>5&&this.psw2.length>5&&this.psw1===this.psw2) 
					return this.isok = true
				return this.isok = false
			},
			isSame(){
				if(this.psw1===this.psw2){
					return this.issame = true
				}
				return this.issame = false
			},
		},
		methods: {
			// 密码是否显示
			looks() {
				if (this.look) {
					this.type = 'password'
					this.look = !this.look
				}else{
					this.type = 'text'
					this.look = !this.look
				}
			},
			getPsw1(e){
				this.psw1 = e.detail.value
				this.isOk
				this.isSame
				if(this.psw1.length<5){
					this.invalid = true
				}else{
					this.invalid = false
				}
			},
			getPsw2(e){
				this.psw2 = e.detail.value
				this.isOk
				this.isSame
			},
			getPrivateKey(e){
				this.privateKey = e.detail.value
				this.isOk
			},
			getName(e) {
				this.name = e.detail.value
				this.isOk
			},
			// 注册提交
			signUp(){
				if(this.isok) {
					uni.request({
						url: this.serverUrl+'/signup/add',
						data:{
							name: this.name,
							password: this.psw1,
						},
						method: 'POST',
						success: (data)=>{
							let status = data.data.status
							let account = data.data.account
							if(status===200){
								// 注册成功跳转到登录页
								uni.showToast({
								    title: '注册成功，请记住您的账户地址',
										icon:'none',
								    duration: 3000
								});
								uni.navigateTo({
									url:'/pages/signin/signin?address='+account.address
								})
							}else if(status===500){
								uni.showToast({
								    title: '服务器出错了...',
										icon:'none',
								    duration: 1500
								});
							}
						},
						fail(err) {
							console.log(err)
						}
					})
				}
			},
			// 返回上一页
			backOnePage() {
				uni.navigateBack({
					delta:1
				})
			},
		}
	}
</script>

<style lang="scss">
	@import '../../commons/css/mycss.scss';
	
	/* 顶部 */
	.top-bar {
		box-shadow: none;
		border-bottom: none;
		.top-bar-left {
			width: 88rpx;
			height: 100%;
			float: left;

			.text {
				font-size: $uni-font-size-lg;
				font-weight: 500;
				color: $uni-text-color;
				line-height: 88rpx;
			}
			i {
				display: inline-block;
				margin-top: 25rpx;
			}
		
		}
		.top-bar-right {
			float: right;
			padding-right: 8rpx;
			margin-top: 4rpx;
			.text {
				font-size: $uni-font-size-lg;
				font-weight: 500;
				color: $uni-text-color;
				line-height: 88rpx;
			}
			
		}
	}
	
	/* logo */
	.logo .moni-img-logo{
		padding-top: 256rpx;
		width: 194rpx;
		height: 92rpx;
		font-size: 60rpx;
		margin: 0 auto;
		text-align: center;
		color: $uni-color-primary;
		i {
			color: $uni-color-primary;
			font-size: 100rpx;
		}
	}
	/* 主体 */
	.main {
		padding: 54rpx $uni-spacing-row-lg 120rpx;
		.title {
			text-align: center;
			font-size: 44rpx;
			color: $uni-text-color;
			line-height: 56rpx;
		}
		.slogan {
			text-align: center;
			font-size: 40rpx;
			color: $uni-text-color-grey;
			line-height: 56rpx;
			span {
				font-size: 50rpx;
				color: $uni-color-primary;
			}
		}
		.inputs {
			padding-top: 48rpx;
			
			input {
				padding-top: 40rpx;
				height: 88rpx;
				font-size: $uni-font-size-lg;
				fonf-weight: 500;
				color: $uni-text-color;
				line-height: 88rpx;
				border-bottom: 1rpx solid $uni-border-color;
			}
			
		}
		.inputs-div {
			position: relative;
		}
		.employ2,.invalid {
			position: absolute;
			top: 40rpx;
			right: 0;
			font-size: $uni-font-size-base;
			fonf-weight: 500;
			color: $uni-color-warning;
			line-height: 88rpx;
		}
		.employ1 {
			position: absolute;
			top: 40rpx;
			right: 0;
			font-size: $uni-font-size-base;
			fonf-weight: 500;
			color: $uni-color-success;
			line-height: 88rpx;
		}
		.ok {
			position: absolute;
			right: 0;
			top: 70rpx;
			width: 42rpx;
			height: 32rpx;
			color: $uni-color-success;
		}
		
		
	}
	.submit {
		margin: 0 auto;
		width: 85%;
		height: 96rpx;
		background: $uni-color-primary;
		box-shadow: 0px 5rpx 32rpx -36rpx rgba(255, 220, 49, 0.4);
		border-radius: $uni-border-radius-base;
		font-size: $uni-font-size-lg;
		font-weight: 500;
		color: $uni-text-color;
		line-height: 96rpx;
		text-align: center;
		box-shadow: 8rpx 10rpx 25rpx -5rpx rgba(117, 112, 117, 0.3);
	}
	.submit1 {
		margin: 0 auto;
		width: 85%;
		height: 96rpx;
		background: rgba(39,40, 50,0.2);
		box-shadow: 0px 5rpx 32rpx -36rpx rgba(255, 220, 49, 0.4);
		border-radius: $uni-border-radius-base;
		font-size: $uni-font-size-lg;
		font-weight: 500;
		color: #ffffff;
		line-height: 96rpx;
		text-align: center;
		box-shadow: 8rpx 10rpx 25rpx -5rpx rgba(117, 112, 117, 0.3);
	}
	/* 底部logo */
	.bot-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position:fixed; 
		bottom:15rpx; 
		right: 0;
		color: $uni-text-color-grey;
		font-size:0.8rem;
		
		i {
			display: inline-block;
			font-size:1.1rem; 
			margin-right: 1rpx;
			margin-top: -3rpx;
		}
	}
</style>
