<template>
	<button @tap="test">测试</button>
</template>

<script>
	export default {
		data() {
			return {
					
			}
		},
		onLoad() {
		},
		methods: {
			//methods：里面对应函数
			async test(){
				const privateKey = '0x69ae26c1d881345e79b0fbf9f509b0ad18a1c58b9efa2e19495b16299feb62c7'
				const publicKey = '0x044d8aa08570906db9a05a1766ff897586002db4b90c45984eb6e06d5fa316e4c1560f8e6a94f4892ee93508d4d8fef0fb3d2b25585b7f46238086e0fcfb02b347';
				const privateKey1 = privateKey.substring(2)
				const publicKey1 = publicKey.substring(2)
				const str = 'test message to encrypt';
				const msg = this.eccryptoJS.utf8ToBuffer(str);
				const privateKey2 = this.eccryptoJS.hexToBuffer(privateKey1);
				const publicKey2 = this.eccryptoJS.hexToBuffer(publicKey1);
				const encryptedMsg =await this.eccryptoJS.encrypt(publicKey2,msg) 
				uni.request({
					url:'http://127.0.0.1:3102/index/123',
					data:{
						msg:encryptedMsg
					},
					method:'POST',
					success(res){
						console.log(res)
					}
				})
			}
			
		}
	}
</script>

<style>

</style>
