<template>
	<view class="content animate__animated animate__fadeIn animate__faster">
		<!-- 顶部 -->
		<view class="top-bar">
			<navigator :url="'../userhome/userhome?address='+address" hover-class="none" class="top-bar-left">
				<image :src="imgurl"></image>
			</navigator>
			<view class="top-bar-right">
				<view class="search" @tap="toSearch">
					<i class="iconfont icon-searchsousuo"></i>
				</view>
				<view class="add">
					<i class="iconfont icon-jia"></i>
				</view>
			</view>
		</view>
		
		<!-- 搜索框 -->
		<view class="search-box">
			<input @focus="toSearch" type="text" value="" placeholder="从搜索好友开始..." />
		</view>
		
		<!-- 好友列表 -->
		<view class="main">
			
			<view class="refresh" v-if="refresh">
				<i class='iconfont icon-jiazaizhong3'></i>
				<view class="refresh-title">下拉刷新</view>
			</view>
			
			<view class="apply" v-if="requestData>0" @tap="goReq">
				<view class="friend-list">
					<!-- 头像 -->
					<view class="friend-list-l">
						<view class="tip">{{requestData}}</view>
						<i class="iconfont icon-profile"></i>
						<!-- <image src="../../static/images/img/avatar5.jpg" mode=""></image> -->
					</view>
					<!-- 消息 -->
					<view class="friend-list-r">
						<view class="top">
							<view class="name">好友申请</view>
							<view class="time">{{changeTime(requestTime)}}</view>
						</view>
						<view class="news">
							您有新的好友：快添加吧！！
						</view>
					</view>
				</view>
			</view>
			
			<view class="friends">
				<view class="friend-list"
									 v-for="(item, index) in friends"
									 @tap="toChatRoom(item)"
									 :key="item.address">
					<!-- 头像 -->
					<view class="friend-list-l">
						<view class="tip" v-if="item.tip>0">{{item.tip}}</view>
						<image :src="item.imgurl" mode=""></image>
					</view>
					<!-- 消息 -->
					<view class="friend-list-r">
						<view class="top">
							<view class="name">{{item.name}}</view>
							<view class="time">{{changeTime(item.lastTime)}}</view>
						</view>
						<view class="news">
							{{item.msg}}
						</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import datas from '../../commons/js/datas.js'
	import myfun from '../../commons/js/myfun.js'
	
	export default {
		data() {
			return {
				version:6,
				friends: [],		// 好友
				groups:[],			// 群
				address:'',
				imgurl: '',
				token: '',
				refresh: false,
				keyPair:{},
				requestData: '', // 好友申请数
				requestTime: '', // 最后申请时间
				backButtonPress:0,
				
				privateKey:''
			}
		},
		onLoad() {
			this.socket.on('connect',()=>{
				console.log("已连接")
			})
			this.getStorages()
			// this.getFriends()
			// this.friendReq()
			
			this.join(this.address)	// socket发送-登陆注册消息
			this.receiveSocketMsg()
			this.receiveFriendReq()
			this.receiveFriendAgree()
			this.checkVersion()
		},
		onShow(){
			this.getStorages()
			this.getFriends()
			this.friendReq()
		},
		onPullDownRefresh() {
			this.friends=[]
			this.getStorages()
			this.getFriends()
			this.friendReq()
			setTimeout(function () {
					uni.stopPullDownRefresh();
			}, 2000);
		},
		onBackPress(options) {
		    return true
		},
		methods: {
			onBackPress(options) {  
			　　this.backButtonPress++;
			　　if (this.backButtonPress > 1) { 
			　　　　plus.runtime.quit();
			　　} else {
			　　　　plus.nativeUI.toast('再次返回退出应用');
			　　} 
			　　setTimeout(function() {
			　　　　this.backButtonPress = 0;
			　　}, 1000);
			　　return true;
			},
			// socket模块 
			// 发送-用户登陆注册消息
			join(address){
				this.socket.emit('login',address)
			},
			// 接收好友发来的消息-socket
			receiveSocketMsg(){
				this.socket.on('msg', (msg, fromaddress)=>{
					
					let nmsg = ''	// 当前消息
					if(msg.types == 0){
						nmsg = msg.msg
					}else if(msg.types == 1){
						nmsg = '[图片消息]'
					}else if(msg.types == 2){
						nmsg = '[语音消息]'
					}else if(msg.types == 3){
						nmsg = '[分享位置]'
					}
					
					for(let i=0; i<this.friends.length; i++){
						if(this.friends[i].address == fromaddress) {
							let e = this.friends[i]
							
							e.lastTime = new Date()
							e.msg = nmsg
							e.tip++
							// 删除原数据项
							this.friends.splice(i, 1)	// 插入数组消息
							// 插入最顶部
							this.friends.unshift(e)
						}
					}
				})
				this.socket.on('groupMsg',(msg,fromAddress,userName,userImgurl,groupID)=>{
					let nmsg = ''	// 当前消息
					if(msg.types == 0){
						nmsg = msg.msg
					}else if(msg.types == 1){
						nmsg = '[图片消息]'
					}else if(msg.types == 2){
						nmsg = '[语音消息]'
					}else if(msg.types == 3){
						nmsg = '[分享位置]'
					}
					
					for(let i=0; i<this.friends.length; i++){
						if(this.friends[i].group_id == groupID) {
							let e = this.friends[i]
							e.lastTime = new Date()
							e.msg = nmsg
							e.tip++
							// 删除原数据项
							this.friends.splice(i, 1)	// 插入数组消息
							// 插入最顶部
							this.friends.unshift(e)
						}
					}
				})
			},
			
			// 获取最后消息
			getLastMsg(arr, i){
				uni.request({
					url: this.serverUrl+'/index/getlastmsg',
					data:{
						uAddress: this.address,	
						fAddress: arr[i].address,
						token: this.token
					},
					method: 'POST',
					success: (data)=>{
						let status = data.data.status
						let res = data.data.result
						// console.log(res, status)
						if(status===200){
							if(res.types === 0){
								// 文字
							}else if(res.types===1){
								res.message = '[图片消息]'
							}else if(res.types === 2){
								res.message = '[语音消息]'
							}else if(res.types === 3){
								res.message = '[分享位置]'
							}else if(res.types === 4){
								res.message = '[分享文件]'
							}
							let e = arr[i]
							e.msg = res.message
							arr.splice(i, 1, e)	// 插入数组消息
							// console.log(res)
						}else if(status===500){
							uni.showToast({
							    title: '服务器出错了...',
									icon:'none',
							    duration: 1500
							});
						}else if(status===300){	// token过期
							uni.navigateTo({
								url:'/pages/signin/signin'
							})
						}
					}
				})
			},
			// 获取群聊最后消息
			getGroupLastMsg(arr, i){
				uni.request({
					url: this.serverUrl+'/index/getGroupLastMsg',
					data:{
						group_id:arr[i].group_id,
						token: this.token
					},
					method: 'POST',
					success: (data)=>{
						let status = data.data.status
						let res = data.data.result
						// console.log(res, status)
						if(status===200){
							if(res.types === 0){
								// 文字
							}else if(res.types==="1"){
								res.message = '[图片消息]'
							}else if(res.types ==="2"){
								res.message = '[语音消息]'
							}else if(res.types ==="3"){
								res.message = '[分享位置]'
							}else if(res.types ==="4"){
								res.message = '[分享文件]'
							}
							let e = arr[i]
							e.msg = res.message
							e.lastTime = res.time
							arr.splice(i, 1, e)	// 插入数组消息
							// console.log(res)
						}else if(status===500){
							uni.showToast({
							    title: '服务器出错了...',
									icon:'none',
							    duration: 1500
							});
						}else if(status===300){	// token过期
							uni.navigateTo({
								url:'/pages/signin/signin'
							})
						}
					}
				})
			},
			// 获取消息数
			getUnread(arr, i){
				uni.request({
					url: this.serverUrl+'/index/unreadmsg',
					data:{
						uAddress: this.address,	
						fAddress: arr[i].address,
						// state: 1,
						token: this.token
					},
					method: 'POST',
					success: (data)=>{
						let status = data.data.status
						let res = data.data.result
						// console.log(res, status)
						if(status===200){
							
							let e = arr[i]
							e.tip = res
							arr.splice(i, 1, e)	// 插入数组消息
							// console.log(res)
						}else if(status===500){
							uni.showToast({
							    title: '服务器出错了...',
									icon:'none',
							    duration: 1500
							});
						}else if(status===300){	// token过期
							uni.navigateTo({
								url:'/pages/signin/signin'
							})
						}
					}
				})
			},
			// // 获取群聊未读消息数
			// getGroupUnread(arr, i){
			// 	uni.request({
			// 		url: this.serverUrl+'group/getGroupUnread',
			// 		data:{
			// 			group_id:arr[i].group_id,
			// 			address:this.address,
			// 			token: this.token
			// 		},
			// 		method: 'POST',
			// 		success: (data)=>{
			// 			let status = data.data.status
			// 			let res = data.data.result
			// 			// console.log(res, status)
			// 			if(status===200){
			// 				let e = arr[i]
			// 				e.tip = res.tip
			// 				arr.splice(i, 1, e)	// 插入数组消息
			// 				// console.log(res)
			// 			}else if(status===500){
			// 				uni.showToast({
			// 				    title: '服务器出错了...',
			// 						icon:'none',
			// 				    duration: 1500
			// 				});
			// 			}else if(status===300){	// token过期
			// 				uni.navigateTo({
			// 					url:'/pages/signin/signin'
			// 				})
			// 			}
			// 		}
			// 	})
			// },
			// 获取好友列表
			getFriends(){
				uni.request({
					url: this.serverUrl+'/index/getfriend',
					data:{
						address: this.address,	// 传参来的address
						state: 0,
						token: this.token
					},
					method: 'POST',
					success: (data)=>{
						
						// this.refresh = true
						let status = data.data.status
						let res = data.data.result.friendList
						if(status===200){
							if(res.length>0){
								for(let i=0; i<res.length;i++){
									res[i].imgurl = this.serverIp+ res[i].imgurl
									if(res[i].markname){
										res[i].name = res[i].markname
									}
								}
								this.friends = res
							}
							for(let i=0;i<this.friends.length; i++){
								this.getLastMsg(this.friends, i)	// 获取最后一条消息
								this.getUnread(this.friends, i)		// 获取未读消息数
								
							}
							uni.stopPullDownRefresh()
							this.getGroups()	// 群列表
							
							// console.log(this.friends)
						}else if(status===500){
							uni.showToast({
							    title: '服务器出错了...',
									icon:'none',
							    duration: 1500
							});
						}else if(status===300){	// token过期
							uni.navigateTo({
								url:'/pages/signin/signin'
							})
						}
					}
				})
			},
			// 获取群列表
			getGroups(){
				uni.request({
					url: this.serverUrl+'/index/getGroup',
					data:{
						address: this.address,	
						state: 0,
						token: this.token
					},
					method: 'POST',
					success: (data)=>{
						let status = data.data.status
						let res = data.data.result
						if(status===200){
							// 拼接群列表
							if(res.length>0){
								for(let i=0; i<res.length;i++){
									res[i].imgurl = this.serverIp+ res[i].imgurl
									res[i].address = res[i].group_id
									this.getGroupLastMsg(res,i)
								}
								this.friends = this.friends.concat(res)	
								this.friends = myfun.mySort(this.friends, 'lastTime', 0)
							}
						}else if(status===500){
							uni.showToast({
							    title: '服务器出错了...',
									icon:'none',
							    duration: 1500
							});
						}else if(status===300){	// token过期
							uni.navigateTo({
								url:'/pages/signin/signin'
							})
						}
					}
				})
			},
			// 好友申请
			friendReq(){
				uni.request({
					url: this.serverUrl+'/index/getfriend',
					data:{
						address: this.address,	
						state: 1,
						token: this.token
					},
					method: 'POST',
					success: (data)=>{
						// this.refresh = true
						let status = data.data.status
						let res = data.data.friendList
						if(status===200){
							// console.log(res)
							this.requestData = res.length
							
							for(let i=0; i<res.length;i++){
								if(this.requestTime<res[i].lastTime){
									this.requestTime = res[i].lastTime
								}
							}
							this.GroupReq()
						}else if(status===500){
							uni.showToast({
							    title: '服务器出错了...',
									icon:'none',
							    duration: 1500
							});
						}else if(status===300){	// token过期
							uni.navigateTo({
								url:'/pages/signin/signin?'
							})
						}
					}
				})
			},
			// 群聊申请
			GroupReq(){
				uni.request({
					url: this.serverUrl+'/group/getGroupApply',
					data:{
						address: this.address,	
						token: this.token
					},
					method: 'POST',
					success: (data)=>{
						// this.refresh = true
						let status = data.data.status
						let res = data.data.result
						if(status===200){
							this.requestData = this.requestData+res.length
							
							for(let i=0; i<res.length;i++){
								if(this.requestTime<res[i].time){
									this.requestTime = res[i].time
								}
							}
						}else if(status===500){
							uni.showToast({
							    title: '服务器出错了...',
									icon:'none',
							    duration: 1500
							});
						}else if(status===300){	// token过期
							uni.navigateTo({
								url:'/pages/signin/signin?'
							})
						}
					}
				})
			},
			receiveFriendReq(){
				this.socket.on('friendApply',(fromAddress,toAddress)=>{
					if(toAddress===this.address){
						this.friendReq()
					}
				})
			},
			receiveFriendAgree(){
				this.socket.on('friendAgree',(fromAddress,toAddress)=>{
					if(toAddress===this.address){
						this.friendReq()
					}
				})
			},
			changeTime(date) {
				return myfun.dataTime(date)
			},
			// 获取缓存数据
			getStorages() {
				try{
					const value = uni.getStorageSync('user')
					if(value) {
						this.address = value.address
						this.imgurl = this.serverIp+value.imgurl
						this.token = value.token
						this.privateKey = value.privateKey
					}else {
						uni.navigateTo({
							url: '../signin/signin',
						})
					}
					
					// console.log(value)
				}catch(e){
					//TODO handle the exception
				}
			},
			// 跳转到聊天界面
			toChatRoom(data){
				if(data.type===0){
					uni.navigateTo({
						url:'../chatroom/chatroom?address='+data.address+'&name='+data.name+'&img='+data.imgurl+'&type='+data.type+'&publicKey='+data.publicKey
					})
				}else if(data.type===1){
					uni.navigateTo({
						url:'../chatroom/chatroom?group_id='+data.group_id+'&name='+data.name+'&img='+data.imgurl+'&type='+data.type
					})
				}
			},	
			// 跳转到申请页
			goReq(){
				uni.navigateTo({
					url:'../friendapply/friendapply'
				})
			},
			// 跳转搜索页
			toSearch() {
				uni.navigateTo({
					url:'../search/search'
				})
			},
			checkVersion(){
				uni.getSystemInfo({
					success:(res) => {
						//检测当前平台，如果是安卓则启动安卓更新  
						if(res.platform=="android"){  
							this.AndroidCheckUpdate();  
						}  
					}  
				})
			},
			AndroidCheckUpdate:function(){  
				var _this = this;  
				uni.request({
					//请求地址，设置为自己的服务器链接
					url: this.serverUrl+'/index/version',
					method: 'POST',  
					data: {
						token:this.token
					},  
					success: resMz => {
						var server_version = resMz.data.data.version;
						var currTimeStamp = resMz.data.data.timestamp;
						// 判断缓存时间
						uni.getStorage({
							key: 'tip_version_update_time',
							success: function (res) {
								var lastTimeStamp = res.data;
								//定义提醒的时间间隔，避免烦人的一直提示，一个小时：3600；一天：86400
								var tipTimeLength = 3600;
								if((lastTimeStamp+tipTimeLength) > currTimeStamp){
									//避免多次提醒，不要更新
									console.log("避免多次提醒，不要更新");
								}else{
									//重新设置时间戳
									_this.setStorageForAppVersion(currTimeStamp);
									//进行版本型号的比对 以及下载更新请求
									_this.checkVersionToLoadUpdate(server_version, _this.version);
								}
							},
							fail:function(res){
								_this.setStorageForAppVersion(currTimeStamp);
							}
						});
					},  
					fail: () => {},  
					complete: () => {}  
				});  
			},  
			/**
			 * //设置应用版本号对应的缓存信息
			 * @param {Object} currTimeStamp 当前获取的时间戳
			 */
			setStorageForAppVersion:function(currTimeStamp){
				uni.setStorage({
					key: 'tip_version_update_time',
					data: currTimeStamp,
					success: function () {
						console.log('setStorage-success');
					}
				});
			},
			/**
			 * 进行版本型号的比对 以及下载更新请求
			 * @param {Object} server_version 服务器最新 应用版本号
			 * @param {Object} curr_version 当前应用版本号
			 */
			checkVersionToLoadUpdate:function(server_version,curr_version){
				var _this = this;  
				if(server_version > curr_version){
					//TODO 此处判断是否为 WIFI连接状态
					if(plus.networkinfo.getCurrentType()!=3){
						uni.showModal({
							title:'版本更新',
							content: '有新的版本发布，检测到您目前非Wifi连接，为节约您的流量，程序已停止自动更新，是否使用流量进行更新',  
							confirmText:'立即更新',
							cancelText:'稍后进行',
							success(res) {
								if (res.confirm) {
									uni.showToast({
										icon:"none",
										mask: true,
										title: '有新的版本发布，程序已启动自动更新。新版本下载完成后将自动弹出安装程序',  
										duration: 5000,  
									}); 
									//设置 最新版本apk的下载链接
									uni.request({
										url:_this.serverUrl+'/index/downloadApkUrl',
										method:'POST',
										success(res) {
											var downloadApkUrl = res.data.url;
											plus.runtime.openURL(downloadApkUrl);
										}
									})
								}
							}
						});  
						return;  
					}else{
						uni.showModal({
							title: "版本更新",
							content: '有新的版本发布，检测到您当前为Wifi连接，是否立即进行新版本下载？',
							confirmText:'立即更新',
							cancelText:'稍后进行',
							success: function (res) {
								if (res.confirm) {
									uni.showToast({
										icon:"none",
										mask: true,
										title: '有新的版本发布，检测到您目前为Wifi连接，程序已启动自动更新。新版本下载完成后将自动弹出安装程序',  
										duration: 5000,  
									}); 
									//设置 最新版本apk的下载链接
									uni.request({
										url:_this.serverUrl+'/index/downloadApkUrl',
										method:'POST',
										success(res) {
											var downloadApkUrl = res.data.url;
											plus.runtime.openURL(downloadApkUrl);
											// var dtask = plus.downloader.createDownload( downloadApkUrl, {}, function ( d, status ) {  
											// 		// 下载完成  
											// 		if ( status == 200 ) {   
											// 			console.log(plus.io.convertLocalFileSystemURL(d.filename))
											// 			plus.runtime.install(plus.io.convertLocalFileSystemURL(d.filename),{},{},function(error){  
											// 				console.log(error)
											// 				uni.showToast({  
											// 					title: '安装失败', 
											// 					duration: 1500  
											// 				});  
											// 			})
											// 		} else {  
											// 			 uni.showToast({  
											// 				title: '更新失败',
											// 				duration: 1500  
											// 			 });  
											// 		}    
											// 	});  
											// dtask.start();
										}
									})
								} else if (res.cancel) {
									console.log('稍后更新');
								}
							}
						});
					}
				}
			},
		}
	}
</script>

<style lang="scss">
	@import '../../commons/css/mycss.scss';

	.top-bar {
		background: $uni-bg-color-grey;
		.top-bar-right {
			margin-top: 4rpx;
		}
	}
	/* 搜索框 */
	.search-box {
		width: 90%;
		height: 42rpx;
		padding-top: 165rpx;
		padding-bottom: 16rpx;
		margin: auto auto;
		
		input {
			padding: 6rpx 0;
			text-align: center;
			border-radius: $uni-border-radius-base;
			background-color: $uni-bg-color-grey;
			box-shadow: 8rpx 10rpx 25rpx -5rpx rgba(117, 112, 117, 0.3);
		}
	}
	
	/* 好友列表 */
	.main {
		width: 100%;
		padding-top: 8rpx;
		.refresh{
			text-align: center;
			padding-top: 20rpx;
			i{
				font-size: 32rpx;
				color: rgba(39,40,50,0.8);
			}
			.refresh-title{
				padding-top: 10rpx;
				font-size: $uni-font-size-base;
				color: rgba(39,40,50,0.4);
				line-height: 40rpx;
			}
		}
		.apply,
		.friends {
			
			.friend-list {
				height: 96rpx;
				padding: 16rpx  $uni-spacing-col-base;
				&:active {
					background-color: $uni-bg-color-grey;
				}
				.friend-list-l {
					position: relative;
					float: left;
					
					i {
						font-size: 33px;
						border: 1rpx solid $uni-border-color;
						display: inline-block;
						width: 96rpx;
						height: 96rpx;
						line-height: 96rpx;
						text-align: center;
						background-color: $uni-color-primary;
						color: $uni-text-color-grey;
						border-radius: $uni-border-radius-base;
					}
					image {
						width: 96rpx;
						height: 96rpx;
						border-radius: $uni-border-radius-base;
					}
					.tip {
						z-index: 10;
						position: absolute;
						top: -6rpx;
						left: 68rpx;
						padding: 0 6rpx;
						min-width: 22rpx;
						height: 36rpx;
						background: $uni-color-warning;
						border-radius: 18rpx;
						font-size: $uni-font-size-sm;
						color: $uni-text-color-inverse;
						line-height: 36rpx;
						text-align: center;
						box-shadow: 8rpx 10rpx 25rpx -5rpx rgba(117, 112, 117, 0.3);
					}
				}
				.friend-list-r {
					padding-left: 120rpx;
					.top {
						height: 50rpx;
						.name {
							float: left;
							font-size: 36rpx;
							font-weight: 400;
							color: $uni-text-color;
							line-height: 50rpx;
						}
						.time {
							float: right;
							font-size: $uni-font-size-sm;
							color: $uni-text-color-disable;
							line-height: 50rpx;
						}
					}
					.news {
						font-size: $uni-font-size-base;
						color: $uni-text-color-grey;
						line-height: 40rpx;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 1; // 一行溢出则省略号
						overflow: hidden;
					}
				}
			}
		}
	}
	
</style>
